@font-face {
    font-family: myFirstFont;
    src: url(font/tiza.ttf);
}
header
{
	font-family: myFirstFont;
}
.navbar 
{
	margin-bottom: 0px;
}
.navbar-inverse
{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border-color:rgba(0, 0, 255, 0) !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}
.headerline
{
	text-align: right;
    padding: 40px;
    font-size: 16px;
    font-weight: bold;
}
.navbar-inverse {

     background-color: blue;
     border-color: blue;
}

  #section1 {padding-top:50px;height:542px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:718px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:718px;color: #fff; background-color: #ff9800;}
  #section4 {padding-top:50px;height:718px;color: #fff; background-color: #00bcd4;}